<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YahooIEOD1Min" value="YahooIEOD1Min.txt"/>
    <add key="YahooIEOD5Min" value="YahooIEOD5Min.txt"/>
    <add key="YahooEOD" value="YahooEOD.txt"/>
    <add key="YahooFundamental" value="YahooFundamental.txt"/>
    <add key="GoogleEOD" value="GoogleEOD.txt"/>
    <add key="GoogleIEOD" value="GoogleIEOD.txt"/>
    <add key="IndiaIndices" value="IndiaIndices.txt"/>
  </appSettings>
</configuration>